# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C++ extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so you don't need to ship them.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# --- PROJECT SPECIFIC ---

# Ignore ALL data files (Raw, Silver, Gold)
# We want the structure, but not the heavy CSVs/JSONs
data/raw/*
data/processed/*
data/gold/*

# Keep the folders in Git even if they are empty
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/gold/.gitkeep

# Temp files
*.log
temp_download.csv