# Extração e API
requests
gdown
mwclient

# Manipulação de Dados
pandas
numpy

# Modelagem e Validação
pydantic

# Machine Learning
scikit-learn
xgboost

# Configuração e Utilitários
pyyaml
python-dotenv

# Visualização (Sprint Futura)
streamlit
plotly

# Desenvolvimento e Testes
pytest
black